*	{
    margin: 0;
    padding: 0;
}
html, body	{
    height: 100%;
}
body{
    background: #fff;
    color: #393939;
    font-family: Arial;
    font-size: 0px;
    line-height: 0;
}

h1{
    color: #4b4b4b;
    font-family: Tahoma;
    font-size: 22px;
    line-height: 24px;
    font-weight: normal;
}
h2{
    color: #393939;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 10px;
}
h3{
    color: #92b22c;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 10px;
}

.clear{
    clear: both;
    font-size: 0px;
    height: 0;
    line-height: 0px;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/******************
* Header
******************/

#header{
    background: url(../images/shared/top_bg.jpg) top center repeat-x;
    border-bottom: 1px solid #7e7e7e;
    height: 72px;
}

#header-content{
    margin: 0 auto;
    max-width: 1260px;
    min-width: 850px;
    position: relative;
}

#logo	{
    float: left;
    margin: 25px 0 0 15px;
}
#logo	a	{
    display: block;
}

#top-search	{
    display: inline;
    float: right;
    position: relative;
    margin: 26px 20px 0 0;
    z-index: 20;
}

#top-search .col{
    float: left;
}

.top-search-inp	{
    background: url(../images/shared/top_search_inp.gif) no-repeat;
    border: none;
    color: #fff;
    font-size: 12px;
    height: 26px;
    padding: 3px 6px 0 10px;
    width: 164px;
}

/********************
* Navigation
********************/
.nav-bg{
    background: url(../images/shared/nav/repeat.jpg) repeat-x;
    height: 38px;
}

.nav-wrapper{
    margin: 0 auto;
    max-width: 1260px;
    min-width: 850px;
}

.main-nav{
    float: left;
    font-family: Tahoma;
    font-size: 13px;
    height: 38px;
    position: relative;
    width: 600px;
    min-width: 600px;
    z-index: 500;
}

.sub-nav{
    float: left;
    font-family: Tahoma;
    font-size: 13px;
    height: 38px;
    position: relative;
    width: 750px;
    z-index: 500;
}

.elements{
    float: left;
    list-style: none;
    margin: 0 0px 0 0;
    padding: 0;
    white-space: nowrap;
}

.elements li{
    float: left;
    height: auto;
    margin: 0;
    padding: 0;
}

.elements li a{
    color: #fff;
    display: block;
    float: left;
    height: 37px;
    line-height: 35px;
    padding: 0 20px 0 20px;
    text-decoration: none;
    white-space: nowrap;
}

.main-nav .elements li.active a{
    background: url(../images/shared/nav/pro_line_1.gif);
    color: #fff;
    display: block;
    float: left;
    height: 37px;
    line-height: 35px;
    padding: 0 0 0 10px;
    text-decoration: none;
    white-space: nowrap;
}

.main-nav .elements li.active a b {
    background: url(../images/shared/nav/pro_line_1.gif) right top;
    display: block;
    padding: 0 20px 0 10px;
}

.main-nav .elements a:hover,
.main-nav .elements li:hover a	{
    background: url(../images/shared/nav/pro_line_1.gif);
    color: #fff;
    cursor: pointer;
    padding: 0 0 0 10px;
}
.main-nav .elements a:hover b,
.main-nav .elements li:hover a b	{
    background: url(../images/shared/nav/pro_line_1.gif) right top;
    cursor: pointer;
    display: block;
    float: left;
    padding: 0 20px 0 10px;
}

.sub-nav .elements li a{
    color: #fff;
    display: block;
    float: left;
    font-weight: bold;
    height: 37px;
    line-height: 35px;
    padding: 0 20px 0 20px;
    text-decoration: none;
    white-space: nowrap;
}
.sub-nav .elements li.active a,
.sub-nav .elements li a:hover{
    color: #94b52c;
}

/**************************
* CONTENT
***************************/
#content{
    background: url(../images/shared/content_repeat.jpg) repeat-x;
}

#main{
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin: 0 auto 0 auto;
    max-width: 1260px;
    min-width: 780px;
    padding: 35px 0px 30px 0px;
}

#page-heading{
    margin: 0 0 15px 20px;
}

.content-box-outer{
    background: url('../images/shared/side_shadowleft.jpg') no-repeat center left;
}

.content-box{
    background: url('../images/shared/side_shadowright.jpg') no-repeat center right;
}

.content-box-content{
    -moz-border-radius:6px; /* Firefox */
    -webkit-border-radius:6px; /* Safari, Chrome */
    -khtml-border-radius:6px; /* Konqueror */
    border-radius:6px; /* CSS3 */
    border: 1px solid #ccc;
    margin: 0 20px 15px 20px;
    padding: 20px;
}

.content-box-content .text{
    line-height: 16px;
    margin: 0 10px 10px 10px;
    min-height: 300px;
}

/*************************
* Messages
**************************/
.messages{
    padding-bottom: 5px;
}

.message{
    padding: 0 0 0 20px;
    margin-bottom: 5px;
    font-family: Tahoma;
    font-weight: bold;
    height: 35px;
}

.message .content{
    float: left;
    padding-top: 8px;
}

.message .close{
    float: right;
}

.message.warning{
    background: url(../images/table/message_yellow.gif) top left no-repeat;
    color: #e79300;
}

.message.info{
    background: url(../images/table/message_blue.gif) top left no-repeat;
    color: #2e74b2;
}

.message.error{
    background: url(../images/table/message_red.gif) top left no-repeat;
    color: #ce2700;
}

.message.success{
    background: url(../images/table/message_green.gif) top left no-repeat;
    color: #6da827;
}

/************************
* Footer
************************/

#footer{
    height: 70px;
    margin: 80px auto 0px auto;
    padding: 0px 0 0 0;
    text-align: left;
    min-width: 780px;
    max-width: 1260px;
}

#footer-left	{
    color: #818181;
    font-size: 11px;
    line-height: 11px;
    padding: 15px 0 15px 25px;
    margin: 0 20px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    background: url(../images/shared/icon_idlogo.jpg) no-repeat 0 12px;
}

#footer a	{
    color: #818181;
    text-decoration: none;
}

#footer a.selected,
#footer a:hover	{
    color: #000;
    text-decoration: none;
}

/********************
* Table
********************/

.table{
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.table thead th{
    background-color: #393939;
    border: none;
    padding: 0px 0 0 10px;
    height: 50px;
    text-align: left;
    color: #fff;
    font-family: Tahoma;
    font-size: 13px;
    font-weight: bold;
    line-height: 14px;
}
.table thead th:first-child{
    background: url(../images/table/table_header_checkbox.jpg) no-repeat #393939;
}

.table thead th{
    background: url(../images/table/table_header_repeat.jpg) repeat #393939;
}

.table thead th:first-of-type {
    width: 10px;
}

.table thead th:last-child{
    background: url(../images/table/table_header_options.jpg) no-repeat right top #393939;
}

.table thead th.actions{
    min-width: 210px;
    width: 210px;
}

.table tbody td{
    border: 1px solid #d2d2d2;
    padding: 10px 0 10px 10px;
}

.table tbody tr:hover{
    color: #94b52c !important;
}
.table tbody tr:nth-child(even){
    background: #ececec;
}

.table .checkbox {
    margin-right: 10px;
}

/*************************
* Action Icons
*************************/
a.icon{
    display: block;
    float: left;
    height: 24px;
    margin: 0 8px 0 0;
    width: 24px;
}

a.icon_cb{
    display: block;
    float: left;
    height: 17px;
    margin: 0 5px 0 -3px;
    width: 17px;
}

a.icon-edit	{
    background: url(../images/table/table_icon_1.gif) no-repeat;
}
a:hover.icon-edit	{
    background: url(../images/table/table_icon_1.gif) 0 -24px;
}
a.icon-delete	{
    background: url(../images/table/table_icon_2.gif) no-repeat;
}
a:hover.icon-delete{
    background: url(../images/table/table_icon_2.gif) 0 -24px;
}
a.icon-fav	{
    background: url(../images/table/table_icon_3.gif) no-repeat;
}
a:hover.icon-fav	{
    background: url(../images/table/table_icon_3.gif) 0 -24px;
}
a.icon-shop	{
    background: url(../images/table/table_icon_4.gif) no-repeat;
}
a:hover.icon-shop	{
    background: url(../images/table/table_icon_4.gif) 0 -24px;
}
a.icon-check	{
    background: url(../images/table/table_icon_5.gif) no-repeat;
}
a:hover.icon-check	{
    background: url(../images/table/table_icon_5.gif) 0 -24px;
}
a.icon-checkbox {
    background: url(../images/shared/checkbox.gif) 0 -17px no-repeat;
}
a:active.icon-checkbox {
    background: url(../images/shared/checkbox.gif) no-repeat;
}

/*************************
* Icons
*************************/

.icon-game {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

/*********************
* Formular
*********************/
.form input,
.form textarea,
.form select{
    border: 1px #aaa solid;
    border-radius: 6px;
}

.form input[type=text]{
    color: #393939;
    height: 25px;
    padding: 4px 6px 2px 6px;
    width: 186px;
}

.form textarea{
    color: #393939;
    font-size: 12px;
    height: 97px;
    overflow: auto;
    padding: 4px 6px 2px 6px;
    width: 375px;
}

.form select{
    color: #393939;
    background-color: #fff;
    cursor: pointer;
    display: block;
    font-family: Arial;
    font-size: 12px;
    height: 30px;
    margin: 0px;
    padding: 7px 5px 2px 6px;
    text-align: left;
    width: 192px;
}

.form input[type=submit]{
    cursor: pointer;
    display: block;
    float: left;
    height: 30px;
    margin: 0 4px 0 0;
    padding: 0 6px 0 6px;
    background-color: #85b50d;
    color: #fff;
}

.form input[type=submit]:hover{
    background-color: #6d950d;
}

.form input[type=reset]{
    cursor: pointer;
    display: block;
    float: left;
    height: 30px;
    padding: 0 6px 0 6px;
    background-color: #6a6a6a;
    color: #fff;
}
.form input[type=reset]:hover{
    background-color: #4f4f4f;
}

.form .col{
    float: left;
    padding-bottom: 10px;
    width: 520px;
}

.form .col.no-label{
    padding-left: 130px;
}

.form .col.large{
    width: 1160px;
}

.form .col.large textarea{
    width: 1000px;
}

.form .col label{
    float: left;
    width: 120px;
    padding: 8px 0 6px 10px;
    font-weight: bold;
}

.form .checkbox {
    margin-top: 10px;
}

/*********************
* Buttons
*********************/

.button {
    display: block;
    cursor: pointer;
    display: block;
    float: left;
    padding: 5px 6px;
    background-color: #6a6a6a;
    color: #fff;
    border: 1px solid #AAAAAA;
    border-radius: 6px 6px 6px 6px;
    min-width: 50px;
    text-align: center;
    margin: 0 5px;
}


/***********************/

.record_properties .label{
    width: 150px;
    font-weight: bold;
}
