*	{
    margin: 0;
    padding: 0;
}
html, body	{
    height: 100%;
}
body{
    background: #fff;
    color: #393939;
    font-family: Arial;
    font-size: 0px;
    line-height: 0;
}

/*****************
* Basics
******************/


#header{
    background: url(../images/shared/top_bg.jpg) top center repeat-x;
    border-bottom: 1px solid #7e7e7e;
    height: 72px;
}

#left{
    width: 200px;
    float: left;
    background-color: #ffc0cb;
}

#main{
    height: 200px;
    margin: 0 auto;
    background-color: #99ff99;
}

/******************
* Header
******************/
#header-content{
    margin: 0 auto;
    max-width: 1260px;
    min-width: 850px;
    position: relative;
}

#logo	{
    float: left;
    margin: 25px 0 0 15px;
}
#logo	a	{
    display: block;
}

#top-search	{
    display: inline;
    float: right;
    position: relative;
    margin: 26px 20px 0 0;
    z-index: 20;
}

#top-search .col{
    float: left;
}

.top-search-inp	{
    background: url(../images/shared/top_search_inp.gif) no-repeat;
    border: none;
    color: #fff;
    font-size: 12px;
    height: 26px;
    padding: 3px 6px 0 10px;
    width: 164px;
}

/********************
* Navigation
********************/
.nav-bg{
    background: url(../images/shared/nav/repeat.jpg) repeat-x;
    height: 38px;
}

.nav-wrapper{
    margin: 0 auto;
    max-width: 1260px;
    min-width: 850px;
}

.main-nav{
    float: left;
    font-family: Tahoma;
    font-size: 13px;
    height: 38px;
    position: relative;
    width: 600px;
    min-width: 600px;
    z-index: 500;
}

.main-nav .elements{
    float: left;
    list-style: none;
    margin: 0 0px 0 0;
    padding: 0;
    white-space: nowrap;
}

.main-nav .elements li{
    float: left;
    height: auto;
    margin: 0;
    padding: 0;
}

.main-nav .elements li a{
    color: #fff;
    display: block;
    float: left;
    height: 37px;
    line-height: 35px;
    padding: 0 20px 0 20px;
    text-decoration: none;
    white-space: nowrap;
}

.main-nav .elements li.current a{
    background: url(../images/shared/nav/pro_line_1.gif);
    color: #fff;
    display: block;
    float: left;
    height: 37px;
    line-height: 35px;
    padding: 0 0 0 10px;
    text-decoration: none;
    white-space: nowrap;
}

.main-nav .elements li.current a b {
    background: url(../images/shared/nav/pro_line_1.gif) right top;
    display: block;
    padding: 0 20px 0 10px;
}

.main-nav .elements a:hover,
.main-nav .elements li:hover a	{
    background: url(../images/shared/nav/pro_line_1.gif);
    color: #fff;
    cursor: pointer;
    padding: 0 0 0 10px;
}
.main-nav .elements a:hover b,
.main-nav .elements li:hover a b	{
    background: url(../images/shared/nav/pro_line_1.gif) right top;
    cursor: pointer;
    display: block;
    float: left;
    padding: 0 20px 0 10px;
}

