body{
    background: url(../images/login/login_bg.jpg) no-repeat top center;
}

/*****************
* Basics
******************/
#wrapper{
    margin: 0 auto;
    width: 1024px;
}

#header{
    height: 150px;
}

#right{
    width: 60px;
    float: right;
}

#left{
    width: 60px;
    float: left;
}

#main{
    height: 200px;
    margin: 0 auto;
    width: 508px
}

/*****************
* Form
******************/

.form .col label{
    float: left;
    display: block;
    width: 120px;
    margin: 0 15px 0 0;
    padding: 0 15px 0 0;
}