{% extends "::base.html.twig" %}

{% block title %}Backend Welcome!{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/coreentrance/css/backend.css') }}" />
{% endblock %}
{% block left %}
	<h1>Navigation</h1>
		{% for category in navigation.categories %}
			<h2>{{ category.name }}</h2>
			{% for element in category.elements %}
				<a href="{{ path(element.route)}}">{{ element.name }}</a>
			{% endfor %}
		{% endfor %}
{% endblock %}

