{% macro message (type, content)%}
	<div class="message {{type}}">
		<div class="content">
			{{ content }}
		</div>
		<div class="close">
			<a href="#" ><img src="{{ asset('bundles/coreentrance/images/table/icon_close_'~type~'.gif')}}" alt="close" /></a>
		</div>
		<div class="clear"></div>
	</div>
{% endmacro %}

{% macro render_backend_menu(navigation) %}
	<div id="navigation">
		{% block navigation %}
		<div class="nav-bg">
			<div class="nav-wrapper">
				<div class="main-nav">
					<ul class="elements">
						{% for category in navigation.categories %}
							<li><a href=""><b>{{ category.name }}</b></a></li>
							{#<li><a href=""><b>Dashboard</b></a></li>
							<li class="active"><a href="#"><b>Modules</b></a></li>
							<li><a href="#"><b>Settings</b></a></li>#}
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

		<div class="nav-bg">
			<div class="nav-wrapper">
				<div class="sub-nav">
					<ul class="elements">
						<li><a href="#">Modul1</a></li>
						<li><a href="#">Modul 2</a></li>
						<li><a href="#">Modul 3</a></li>
						<li class="active"><a href="#"><b>Modul 4</b></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		{% endblock %}
	</div>
	<div class="clear"></div>
{% endmacro %}