<div id="page-heading">
	<h1>Kein Inhalt</h1>
</div>

<div class="content-box-outer">
	<div class="content-box">
		<div class="content-box-content">
			<div class="messages">
				{{ macros.message('warning', 'Für diese Seire gibt es keinen Inhalt. Wählen sie eine Unterseite oder erstellen sie ein Template') }}
			</div>
		</div>
	</div>
</div>