<h1>NewsCategory creation</h1>

<form action="{{ path('newscategory_create') }}" method="post" {{ form_enctype(main_content['form']) }}>
    {{ form_widget(main_content['form']) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('newscategory') }}">
            Back to the list
        </a>
    </li>
</ul>
