<div id="page-heading">
	<h1>IT WORKS</h1>
</div>

<div class="content-box-outer">
	<div class="content-box">
		<div class="content-box-content">
			{#<div class="messages">
				{{ macros.message('warning', 'Die ist eine Warnung') }}
				{{ macros.message('info', 'Hier kann eine Info dargestellt werden') }}
				{{ macros.message('success', 'Ihre Informationen wurden erfolgreich gespeichert') }}
				{{ macros.message('error', 'Es gabe Probleme mit dem Speichern ihrer Informationen') }}
			</div>                                                                                     #}
			<div class="text">
			<h2>Ein Interessanter Test</h2>
			<h3>Diesen Text sollten sie unbedingt lesen, denn es geht hier um ...</h3>

			Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur
			adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur
			adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua.
			<br />
			<br />
			Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur
			adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur
			adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua.
			<br />
			<br />
			Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur
			adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur
			adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua.

		</div>
		</div>
	</div>
</div>