<div id="page-heading">
	<h1>Titel von Formulartest</h1>
</div>

<div class="content-box-outer">
	<div class="content-box">
		<div class="content-box-content">
			<form name="test_form">
				<div class="form">
					<div class="col">
						<label>Vorname:</label>
						<input type="text" />
					</div>
					<div class="col">
						<label>Nachname:</label>
						<input type="text" />
					</div>
					<div class="clear"></div>
					<div class="col">
						<label>Benutzername:</label>
						<input type="text" />
					</div>
					<div class="clear"></div>
					<div class="col large">
						<label>Beschreibung Lang:</label>
						<textarea rows="" cols=""></textarea>
					</div>
					 <div class="clear"></div>
					 <div class="col">
						<label>Beschreibung kurz:</label>
						<textarea rows="" cols=""></textarea>
					 </div>
					 <div class="clear"></div>
					 <div class="col">
						 <label>Optionen</label>
						 <select name="optionen">
							 <option value="1">Option1</option>
							 <option value="2">Option2</option>
							 <option value="3">Option3</option>
						 </select>
					 </div>
					 <div class="clear"></div>
					 <div class="col no-label">
						 <input type="submit" value="Senden"  />
						 <input type="reset" value="Zurücksetzen"  />
					 </div>
					 <div class="clear"></div>
				</div>
			</form>
		</div>
	</div>
</div>