<div id="page-heading">
	<h1>News</h1>
</div>

<div class="content-box-outer">
	<div class="content-box">
		<div class="content-box-content">
			{#<div class="messages">
				{{ macros.message('warning', 'Die ist eine Warnung') }}
				{{ macros.message('info', 'Hier kann eine Info dargestellt werden') }}
				{{ macros.message('success', 'Ihre Informationen wurden erfolgreich gespeichert') }}
				{{ macros.message('error', 'Es gabe Probleme mit dem Speichern ihrer Informationen') }}
			</div>                                                                                     #}
			<div class="text">
                            <button id="createNews" name="createNews">Create News</button>
                        </div>
		</div>
	</div>
</div>